{% extends "base.html" %}
{% block content %}
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <div class="section-header-back">
                    <a href="#" class="btn btn-icon"><i class="fas fa-arrow-left"></i></a>
                </div>
                <h1>Role List</h1>
                <div class="section-header-breadcrumb">
                    <div class="buttons">
                        <a href="#" class="btn btn-primary">Add Role</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-block alert-{% if message.level_tag == 'error' %}danger{% elif message.level_tag == 'success' %}success{% endif %} alert-dismissable"
                                 role="alert">
                                {% if 'safe' in message.tags %}
                                    {{ message|safe }}
                                {% else %}
                                    {{ message }}
                                {% endif %}
                                {{ messages.messages }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="card">
                        <div class="card-header">
                            <h4></h4>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-1">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Edit</th>
                                        <th>Action</th>
                                        <th>Privileged</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for data in auth_user_group_list %}
                                        <tr>
                                            <td>{{ data.name }}</td>
                                            <td>
                                                <button type="button" class="btn btn-success"><i
                                                        class="fas fa-edit"></i></button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger"><i
                                                        class="far fa-trash-alt"></i></button>
                                            </td>
                                            <td><a href="{% url 'usermanagement:authuserpriviledge' data.id %}">
                                                <i class="fas fa-lock"></i>
                                            </a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock content %}