{% extends "base.html" %}
{% load static %}
{% block content %}
    <script>
        function enableButton() {
            var selectelem = document.getElementById('sbuddl');
            var btnelem = document.getElementById('sbu-search');
            btnelem.disabled = !selectelem.value;
        }
    </script>
    <style>

        label {
            font-weight: 700;
            color: #1c7430;
            font-size: 16px;
        }

        h5 {
            color: #1c7430;
            font-size: 16px;
        }
    </style>
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <div class="section-header-back">
                    <a href="{% url 'kpimanagement:assessmentSupervisorList' %}" class="btn btn-icon"><i
                            class="fas fa-arrow-left"></i></a>
                </div>
                <h1>Assessment Details</h1>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
                    <div class="breadcrumb-item"><a href="#">Assessment Details</a></div>
                </div>
            </div>
            <div class="section-body">
                <div class="card">
                    <div class="card-header">
                        <h3 class="mb-0 text-dark">{{ employee.name }} ( {{ employee.employee_id }} )</h3>
                    </div>
                    <div class="card-body">
                        <div class="row mb-5">
                            <div class="col-lg-3">
                                <h5 class="mb-0">Date of Joining: </h5>
                                <p class="mb-0">{{ employee.date_of_joining }}</p>
                            </div>
                            <div class="col-lg-3">
                                <h5 class="mb-0">Duration: </h5>
                                <p class="mb-0">{{ employee.date_of_joining|timesince }}</p>
                            </div>
                            <div class="col-lg-3">
                                <h5 class="mb-0">Assessment Duration: </h5>
                                <p class="mb-0">{{ employee.assessmentDuration }}</p>
                            </div>
                            <div class="col-lg-3">
                                <h5 class="mb-0">SBU: </h5>
                                <p class="mb-0">{{ employee.sbu }}</p>
                            </div>
                        </div>
                        <form action="" method="post"
                              enctype="multipart/form-data"
                              id="sbu-search-form" autocomplete="off" name="search" value="searchForm">
                            {% csrf_token %}


                            <div class="row">
                                <div class="col-lg-4 mb-5">
                                    <label>KPI Objective {{ current_year }}</label>
                                    {% if getdata.kpi_objective != None %}
                                        <select name="{{ form.kpi_objective.html_name }}"
                                                id="{{ form.kpi_objective.id_for_label }}"
                                                value=""
                                                class="select2 form-select">
                                            {% for widget in kpi_objective_obj %}
                                                <option value="{{ widget.id }}"
                                                        {% if widget == getdata.kpi_objective %}
                                                        selected{% endif %}>{{ widget }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <select name="{{ form.kpi_objective.html_name }}"
                                                id="{{ form.kpi_objective.id_for_label }}"
                                                value=""
                                                class="select2 form-select">
                                            {% for widget in form.kpi_objective %}
                                                {{ widget }}
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <label>KPI Value {{ current_year }}</label>
                                    {% if getdata.kpi_value != None %}
                                        <select name="{{ form.kpi_value.html_name }}"
                                                id="{{ form.kpi_value.id_for_label }}"
                                                value=""
                                                class="select2 form-select">
                                            {% for widget in kpi_value_obj %}
                                                <option value="{{ widget.id }}"
                                                        {% if widget == getdata.kpi_value %}
                                                        selected{% endif %}>{{ widget }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <select name="{{ form.kpi_value.html_name }}"
                                                id="{{ form.kpi_value.id_for_label }}"
                                                value=""
                                                class="select2 form-select">
                                            {% for widget in form.kpi_value %}
                                                {{ widget }}
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <label>HR Rating {{ current_year }}</label>
                                    {% if getdata.hr_rating != None %}
                                        <select name="{{ form.hr_rating.html_name }}"
                                                id="{{ form.hr_rating.id_for_label }}"
                                                value=""
                                                class="select2 form-select">
                                            {% for widget in hr_rating_obj %}
                                                <option value="{{ widget.id }}"
                                                        {% if widget == getdata.hr_rating %}
                                                        selected{% endif %}>{{ widget }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <select name="{{ form.hr_rating.html_name }}"
                                                id="{{ form.hr_rating.id_for_label }}"
                                                value=""
                                                class="select2 form-select">
                                            {% for widget in form.hr_rating %}
                                                {{ widget }}
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <label> KPI {{ current_year }}</label>
                                    {% if getdata.kpi_overall != None %}
                                        <br/>
                                        {{ getdata.kpi_overall }}
                                    {% else %}

                                    {% endif %}
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <label> Criticality {{ current_year }}</label>
                                    {% if getdata.criticality != None %}
                                        <select name="{{ form.criticality.html_name }}"
                                                id="{{ form.criticality.id_for_label }}"
                                                value=""
                                                class="select2 form-select">
                                            {% for widget in criticality_obj %}
                                                <option value="{{ widget.id }}"
                                                        {% if widget == getdata.criticality %}
                                                        selected{% endif %}>{{ widget }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <select name="{{ form.criticality.html_name }}"
                                                id="{{ form.criticality.id_for_label }}"
                                                value=""
                                                class="select2 form-select">
                                            {% for widget in form.criticality %}
                                                {{ widget }}
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <label> Potential for Improvement {{ current_year }}</label>
                                    {% if getdata.potential_for_improvement != None %}
                                        <select name="{{ form.potential_for_improvement.html_name }}"
                                                id="{{ form.potential_for_improvement.id_for_label }}"
                                                value=""
                                                class="select2 form-select">
                                            {% for widget in potential_for_improvement_obj %}
                                                <option value="{{ widget.id }}"
                                                        {% if widget == getdata.potential_for_improvement %}
                                                        selected{% endif %}>{{ widget }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <select name="{{ form.potential_for_improvement.html_name }}"
                                                id="{{ form.potential_for_improvement.id_for_label }}"
                                                value=""
                                                class="select2 form-select">
                                            {% for widget in form.potential_for_improvement %}
                                                {{ widget }}
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <label> Technical/Implementation/Operational {{ current_year }}</label>
                                    {% if getdata.technical_implementation_operational != None %}
                                        <select name="{{ form.technical_implementation_operational.html_name }}"
                                                id="{{ form.technical_implementation_operational.id_for_label }}"
                                                value=""
                                                class="select2 form-select">
                                            {% for widget in technical_implementation_operational_obj %}
                                                <option value="{{ widget.id }}"
                                                        {% if widget == getdata.technical_implementation_operational %}
                                                        selected{% endif %}>{{ widget }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <select name="{{ form.technical_implementation_operational.html_name }}"
                                                id="{{ form.technical_implementation_operational.id_for_label }}"
                                                value=""
                                                class="select2 form-select">
                                            {% for widget in form.technical_implementation_operational %}
                                                {{ widget }}
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <label> Top/Average/Bottom Performer <br>{{ current_year }}</label>
                                    {% if getdata.top_average_bottom_performer != None %}
                                        <select name="{{ form.top_average_bottom_performer.html_name }}"
                                                id="{{ form.top_average_bottom_performer.id_for_label }}"
                                                value=""
                                                class="select2 form-select">
                                            {% for widget in top_average_bottom_performer_obj %}
                                                <option value="{{ widget.id }}"
                                                        {% if widget == getdata.top_average_bottom_performer %}
                                                        selected{% endif %}>{{ widget }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <select name="{{ form.top_average_bottom_performer.html_name }}"
                                                id="{{ form.top_average_bottom_performer.id_for_label }}"
                                                value=""
                                                class="select2 form-select">
                                            {% for widget in form.top_average_bottom_performer %}
                                                {{ widget }}
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <label> Best performer inside team <br>{{ current_year }}<br/>
                                       </label>
                                    {% if getdata.best_performer_team != None %}
                                        <select name="{{ form.best_performer_team.html_name }}"
                                                id="{{ form.best_performer_team.id_for_label }}"
                                                value=""
                                                class="select2 form-select">
                                            {% for widget in best_performer_team_obj %}
                                                <option value="{{ widget.id }}"
                                                        {% if widget == getdata.best_performer_team %}
                                                        selected{% endif %}>{{ widget }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <select name="{{ form.best_performer_team.html_name }}"
                                                id="{{ form.best_performer_team.id_for_label }}"
                                                value=""
                                                class="select2 form-select">
                                            {% for widget in form.best_performer_team %}
                                                {{ widget }}
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <label> Best innovator inside team {{ current_year }}<br/>
                                       </label>
                                    {% if getdata.best_innovator_team != None %}
                                        <select name="{{ form.best_innovator_team.html_name }}"
                                                id="{{ form.best_innovator_team.id_for_label }}"
                                                value=""
                                                class="select2 form-select">
                                            {% for widget in best_innovator_team_obj %}
                                                <option value="{{ widget.id }}"
                                                        {% if widget == getdata.best_innovator_team %}
                                                        selected{% endif %}>{{ widget }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <select name="{{ form.best_innovator_team.html_name }}"
                                                id="{{ form.best_innovator_team.id_for_label }}"
                                                value=""
                                                class="select2 form-select">
                                            {% for widget in form.best_innovator_team %}
                                                {{ widget }}
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                </div>
                                <div class="col-lg-4 mb-4"><label>Best
                                    Performer in the organization {{ current_year }}</label>
                                    {% if getdata.best_performer_org != None %}
                                        <select name="{{ form.best_performer_org.html_name }}"
                                                id="{{ form.best_performer_org.id_for_label }}"
                                                value=""
                                                class="select2 form-select">
                                            {% for widget in best_performer_organization_obj %}
                                                <option value="{{ widget.id }}"
                                                        {% if widget == getdata.best_performer_org %}
                                                        selected{% endif %}>{{ widget }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <select name="{{ form.best_performer_org.html_name }}"
                                                id="{{ form.best_performer_org.id_for_label }}"
                                                value=""
                                                class="select2 form-select">
                                            {% for widget in form.best_performer_org %}
                                                {{ widget }}
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                </div>


                                <div class="col-lg-4 mb-4"><label>Best
                                    Performer among all PM {{ current_year }}</label>
                                    {% if getdata.best_performer_pm != None %}
                                        <select name="{{ form.best_performer_pm.html_name }}"
                                                id="{{ form.best_performer_pm.id_for_label }}"
                                                value=""
                                                class="select2 form-select">
                                            {% for widget in best_performer_pm_obj %}
                                                <option value="{{ widget.id }}"
                                                        {% if widget == getdata.best_performer_pm %}
                                                        selected{% endif %}>{{ widget }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <select name="{{ form.best_performer_pm.html_name }}"
                                                id="{{ form.best_performer_pm.id_for_label }}"
                                                value=""
                                                class="select2 form-select">
                                            {% for widget in form.best_performer_pm %}
                                                {{ widget }}
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                </div>

                                <div class="col-lg-4 mb-4">
                                    <label>Confirmation / Increment / No Increment</label>
                                    {% if getdata.confirmation_increment_noincrement != None %}
                                        <select name="{{ form.confirmation_increment_noincrement.html_name }}"
                                                id="{{ form.confirmation_increment_noincrement.id_for_label }}"
                                                value=""
                                                class="select2 form-select">
                                            {% for widget in confirmantion_increment_noincrement_obj %}
                                                <option value="{{ widget.id }}"
                                                        {% if widget == getdata.confirmation_increment_noincrement %}
                                                        selected{% endif %}>{{ widget }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <select name="{{ form.confirmation_increment_noincrement.html_name }}"
                                                id="{{ form.confirmation_increment_noincrement.id_for_label }}"
                                                value=""
                                                class="select2 form-select">
                                            {% for widget in form.confirmation_increment_noincrement %}
                                                {{ widget }}
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                </div>

                                <div class="col-lg-4 mb-4"><label> Proposed
                                    By SBU Director/PM/Self {{ current_year }}</label> <br/>
                                    {% if getdata.proposed_by_sbu_director_pm_self != None %}
                                        <input name="{{ form.proposed_by_sbu_director_pm_self.html_name }}"
                                               id="{{ form.proposed_by_sbu_director_pm_self.id_for_label }}"
                                               type="text" class="form-control"
                                               value="{{ getdata.proposed_by_sbu_director_pm_self }}"
                                               placeholder=""
                                        />
                                    {% else %}
                                        <input name="{{ form.proposed_by_sbu_director_pm_self.html_name }}"
                                               id="{{ form.proposed_by_sbu_director_pm_self.id_for_label }}"
                                               type="text" class="form-control"
                                               value=""
                                               placeholder="Enter Amount"
                                        />
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mb-5">
                                    <label>Proposed Designation {{ current_year }}</label>
                                    {% if getdata.proposed_designation != None %}
                                        <textarea
                                                name="{{ form.proposed_designation.html_name }}"
                                                cols="30"
                                                rows="1" type="text" class="form-control"
                                                id="{{ form.proposed_designation.id_for_label }}"
                                                style="resize: none"
                                                placeholder="Remarks">{{ getdata.proposed_designation }}</textarea>
                                    {% else %}
                                        <textarea
                                                name="{{ form.proposed_designation.html_name }}"
                                                cols="30"
                                                rows="1" type="text" class="form-control"
                                                id="{{ form.proposed_designation.id_for_label }}"
                                                style="resize: none"
                                                value="" placeholder="Proposed Designation"></textarea>

                                    {% endif %}
                                </div>
                                <div class="col-lg-6 mb-5">
                                    <label>Remarks {{ current_year }}</label>
                                    {% if getdata.remarks != None %}
                                        <textarea name="{{ form.remarks.html_name }}"
                                                  cols="30"
                                                  rows="1" type="text" class="form-control"
                                                  id="{{ form.remarks.id_for_label }}"
                                                  style="resize: none"
                                                  placeholder="Remarks">{{ getdata.remarks }}</textarea>
                                    {% else %}
                                        <textarea name="{{ form.remarks.html_name }}"
                                                  cols="30"
                                                  rows="1" type="text" class="form-control"
                                                  id="{{ form.remarks.id_for_label }}"
                                                  style="resize: none"
                                                  placeholder="Remarks"></textarea>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="mt-4" style="text-align: right; margin-right: 18px">
                                <button name="detail-save" type="submit" class="btn btn-primary me-3">
                                    Save changes
                                </button>
                                <a type="button" style="margin-right: 8px" class="btn btn-outline-secondary"
                                   href="{% url 'kpimanagement:assessmentSupervisorList' %}">
                                    Cancel
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

